.image-tagger-point {
  background: red;
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
}
.image-tagger-wrapper {
  position: relative;
}
.image-tagger-data-field.hidden {
  display: none;
}
